{%- comment -%}
We go through and create the tree we'll want for walking our path structure
The way we have to do this can be shown by example. Say we have:

root/
root/page.html
root/subpage/subpage.html
root/subpage/filename.html
root/uppage/file2.html
root/zoop.html

We'd like the tree for this to look like:

[
    depth=1, url=root/, name=root, page=nil
    children = [
        [ depth=2, url=root/page.html, name=page, page=root/page.html, children=[] ],
        [
            depth=2, url=root/subpage, name=subpage, page=nil,
            children=[
                [ depth=3, url=root/subpage/subpage.html, name=subpage, page=root/subpage/subpage.html, children=[] ],
                [ depth=3, url=root/subpage/filename.html, name=filename, page=root/subpage/filename.html, children=[] ]
                ...
            ]
        ],
        ...
    ]
]

That is a tree we could easily traverse, rather than the nasty mess we currently have...

Here's a proposed algorithm for that
stack = []
We start at root. We set some parent variables:
    p_depth=1
    p_url=root
    p_name=root
    p_page=nil
    p_children=[]
    stack = []
Then we go to root/page.html. We find new variable values:
    depth=2
    name=page
    page=root/page.html
    children=[]
Since root/page.html is a child of p_url, don't do anything (since our children list isn't built),
    but assign these variable values to prev_[varname]
Next we go to root/subpage/subpage.html:
    depth=3
    name=subpage
    page=root/subpage/subpage.html
    children=[]
This is _not_ a child of prev_url, so that node is closed and we can add it to p_children
    p_children = [[prev_depth, prev_name, prev_page, prev_children]]
Then we note that (depth - p_depth) > 1 so we need to set up the requisite intermediate nodes.
Before doing this (and anytime we recurse into the tree) we need to push the p_* data onto our stack:
    stack = [ [p_*], [] ]
Now we allocate a stack to put the intermediate nodes on
    e_stack = []
Then we fill this do this by iterating over the number of depth skips and dropping another level each time we do this.
That is, at each step we create the empty node:
    e_depth=(depth - i)
    e_url=(--extract url--)
    e_name=(--extract name--)
    e_page=nil
    e_children=[]
Then we push that onto the e_stack: (this puts it in _reverse_ order from how we need it)
    e_stack = [..., [empty_node] ]
Finally we push all but the last of these onto the recursion stackby iterating over each of these in reverse.
This gives us:
    stack = [ [deepest_empty_node], [previous_stacks] ]
On the last of these we set the p_ parameters appropriately to continue wthe basic algorithm.
Now, as this _is_ a child of the current p_url don't do anything further and continue on.
We're now at root/subpage/filename.html:
    depth=3
    name=filename
    page=root/subpage/filename.html
    children=[]
This is _not_ a child of prev_url and the two only differ in the last element (of prev_url) so we just push the prev_* data onto the p_children
Nothing else to do, so we continue onto root/uppage/file2.html:
    depth=3
    name=file2
    page=root/uppage/file2.html
    children=[]
This is _not_ a child of prev_url, and the two differ two elements up in the tree, so we close off two nodes, then continue on
Etc.
At the end, close off any open nodes (by walking the rest of the stack) and our tree is complete

{%- endcomment -%}

{%- assign node_stack = ""|split:"" -%}

{%- assign leading_char=parent|slice:0 -%}
{%- if leading_char == "/" -%}
    {%- assign end_bound = parent|size -%}
    {%- assign parent = parent | slice:1,end_bound -%}
{%- endif -%}
{%- assign trailing_char=parent|slice:-1 -%}
{%- if trailing_char == "/" -%}
    {%- assign end_bound = parent|size|minus:1 -%}
    {%- assign parent = parent | slice:0,end_bound -%}
{%- endif -%}

{%- assign d_split = parent | split:"/" -%}
{%- assign parent_depth = d_split | size -%}
{%- assign parent_page = nil -%}
{%- assign parent_name = d_split | last | split:"." | first -%}
{%- if parent contains "." -%}
    {%- assign parent_directory = "" -%}
    {%- assign d_lim = d_split.size|minus: 1 -%}
    {%- for d in d_split limit:d_lim -%}
        {%- if d.size > 0 -%}
            {%- assign parent_directory = parent_directory | append:"/" | append:d -%}
        {%- endif -%}
    {%- endfor -%}
{%- else -%}
    {%- assign parent_directory = parent -%}
{%- endif -%}
{%- assign parent_url = parent -%}
{%- assign parent_children = ""|split:"" -%}

{%- assign page_set = page_set | sort:"url" -%}
{%- for page in page_set -%}
    {%- comment -%}
        We first determine the parameters for the given page
    {%- endcomment -%}

    {%- assign url=page.url -%}
    {%- assign leading_char=url|slice:0 -%}
    {%- if leading_char == "/" -%}
        {%- assign end_bound = url|size -%}
        {%- assign url = url | slice:1,end_bound -%}
    {%- endif -%}
    {%- assign trailing_char=url|slice:-1 -%}
    {%- if trailing_char == "/" -%}
        {%- assign end_bound = url|size|minus:1 -%}
        {%- assign url = url | slice:0,end_bound -%}
    {%- endif -%}
    {%- assign d_split = url | split:"/" -%}
    {%- assign depth = d_split | size -%}
    {%- assign d_last = d_split | last -%}
    {%- if d_last contains "." -%}
        {%- assign depth = depth | minus:1 -%}
    {%- endif -%}
    {%- assign name = page.path | split:"/" | last | split:"." | first -%}
    {%- assign directory = "" -%}
    {%- assign d_lim = depth -%}
    {%- for d in d_split limit:d_lim) -%}
        {%- if d.size > 0 -%}
            {%- assign directory = directory | append:"/" | append:d -%}
        {%- endif -%}
    {%- endfor -%}
    {%- assign url = page.url -%}
    {%- assign children = ""|split:"" -%}

    {%- if max_depth == nil or depth <= max_depth -%}
        {%-comment-%}<pre> PreLoop |
                stack_size: {{node_stack[1]}}
                {{url}}
                {{prev_url}}
                {{parent_url}}
        </pre>{%-endcomment-%}

        {%- unless prev_directory == nil -%}
            {%- assign test_url = url|url_encode|replace:"+","%20"|replace:"%2F","/" -%}
            {%- assign test_dir = prev_directory|url_encode|replace:"+","%20"|replace:"%2F","/" -%}
            {%- if test_url contains test_dir -%}
                {%- assign child_page = true -%}
            {%- else -%}
                {%- assign child_page = false -%}
            {%- endif -%}

            {%- comment -%}
                Now we check if this is in the same branch as the previous element we looked at
            {%- endcomment -%}

            {%- if child_page -%}
                {%- comment -%}
                    Means we're still in the same tree. Because of this want to put the prev_node in the parent_node.
                    This assumes that prev and parent _aren't_ the same, which can occur when we pop nodes off the stack.
                {%- endcomment -%}

                {%- if prev_url != parent_url -%}
                    {%- if prev_name == "index" -%}
                        {%- assign parent_page = prev_page -%}
                        {%- assign parent_url = prev_url -%}
                    {%- elsif prev_name == parent_name -%}
                        {%- assign parent_page = prev_page -%}
                    {%- else -%}
                        {%- assign node = ""|split:"" -%}
                        {%- assign node = node|push:prev_depth -%}
                        {%- assign node = node|push:prev_page -%}
                        {%- assign node = node|push:prev_name -%}
                        {%- assign node = node|push:prev_directory -%}
                        {%- assign node = node|push:prev_url -%}
                        {%- assign node = node|push:prev_children -%}
                        {%- assign parent_children = parent_children|push:node -%}
                        {%-comment-%}<pre> PushedChild | parent: {{parent_url}} children: {{parent_children | size }}
                                depth: {{prev_depth}}
                                url: {{prev_url}}
                        </pre>{%-endcomment-%}
                    {%- endif -%}
                {%- endif -%}

            {%- else -%}
                {%- comment -%}
                    This means at _some_ point we jumped a branch. We need to figure out where we made this jump.
                    Once we have that, we can walk the rest of the way back up our tree, closing as necessary
                    We do this _first_ so that we _are_ a proper child_page
                {%- endcomment -%}

                {%- assign alignment = 0 -%}
                {%- if prev_depth > depth -%}
                    {%- assign bounds = depth -%}
                {%- else -%}
                    {%- assign bounds = prev_depth -%}
                {%- endif -%}
                {%- assign prev_split = prev_url | split:"/" -%}
                {%- assign cur_split = url | split:"/" -%}
                {%- assign need_to_close = 0 -%}
                {%- for i in (0..bounds) -%}
                    {%- assign new = cur_split[i] -%}
                    {%- assign old = prev_split[i] -%}
                    {%- assign need_to_close = prev_depth|minus:i -%}
                    {%- if new != old -%}
                        {%- assign need_to_close = need_to_close|plus:1 -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}

                {%-comment-%}
                <pre> PrePop | pops: {{need_to_close}}
                        stack_size: {{node_stack[1]}}
                        {{url}}
                        {{prev_url}}
                        {{parent_url}}
                    </pre>
                {%-endcomment-%}

                {%- for i in (1..need_to_close) -%}
                    {%- comment -%}
                        To close a node, we stick the current node into the parent_children
                        Then we pop a node off the node_stack, set all of the parent_* values to the node values and
                        then assign all of the prev_* names to the parent_* names
                    {%- endcomment -%}

                    {%- if prev_url != parent_url -%}
                        {%- if prev_name == "index" -%}
                            {%- assign parent_page = prev_page -%}
                            {%- assign parent_url = prev_url -%}
                        {%- elsif prev_name == parent_name -%}
                            {%- assign parent_page = prev_page -%}
                        {%- else -%}
                            {%- assign node = ""|split:"" -%}
                            {%- assign node = node|push:prev_depth -%}
                            {%- assign node = node|push:prev_page -%}
                            {%- assign node = node|push:prev_name -%}
                            {%- assign node = node|push:prev_directory -%}
                            {%- assign node = node|push:prev_url -%}
                            {%- assign node = node|push:prev_children -%}
                            {%- assign parent_children = parent_children|push:node -%}
                            {%-comment-%}<pre> PushedChild | parent: {{parent_url}} children: {{parent_children | size }}
                                    depth: {{prev_depth}}
                                    url: {{prev_url}}
                            </pre>{%-endcomment-%}
                        {%- endif -%}
                    {%- endif -%}

                    {%- assign prev_depth = parent_depth -%}
                    {%- assign prev_page = parent_page -%}
                    {%- assign prev_name = parent_name -%}
                    {%- assign prev_directory = parent_directory -%}
                    {%- assign prev_url = parent_url -%}
                    {%- assign prev_children = parent_children -%}

                    {%- assign node = node_stack[0] -%}
                    {%- assign node_stack = node_stack[2] -%}
                    {%- assign parent_depth = node[0] -%}
                    {%- assign parent_page = node[1] -%}
                    {%- assign parent_name = node[2] -%}
                    {%- assign parent_directory = node[3] -%}
                    {%- assign parent_url = node[4] -%}
                    {%- assign parent_children = node[5] -%}
                {%- endfor -%}

                {%- if prev_url != parent_url -%}
                    {%- if prev_name == "index" -%}
                        {%- assign parent_page = prev_page -%}
                        {%- assign parent_url = prev_url -%}
                    {%- elsif prev_name == parent_name -%}
                        {%- assign parent_page = prev_page -%}
                    {%- else -%}
                        {%- assign node = ""|split:"" -%}
                        {%- assign node = node|push:prev_depth -%}
                        {%- assign node = node|push:prev_page -%}
                        {%- assign node = node|push:prev_name -%}
                        {%- assign node = node|push:prev_directory -%}
                        {%- assign node = node|push:prev_url -%}
                        {%- assign node = node|push:prev_children -%}
                        {%- assign parent_children = parent_children|push:node -%}
                        {%-comment-%}<pre> PushedChild | parent: {{parent_url}} children: {{parent_children | size }}
                                depth: {{prev_depth}}
                                url: {{prev_url}}
                        </pre>{%-endcomment-%}
                    {%- endif -%}
                {%- endif -%}

                {%- assign prev_depth = parent_depth -%}
                {%- assign prev_page = parent_page -%}
                {%- assign prev_name = parent_name -%}
                {%- assign prev_directory = parent_directory -%}
                {%- assign prev_url = parent_url -%}
                {%- assign prev_children = parent_children -%}

            {%-comment-%}<pre> PostPop |
                    stack_size: {{node_stack[1]}}
                    {{url}}
                    {{prev_url}}
                    {{parent_url}}
            </pre>{%-endcomment-%}

            {%- endif -%}

            {%- if depth > prev_depth -%}
                {%- comment -%}
                    Means we may need to drop down some number of levels.
                    We put the "parent" on the stack, make "prev" into "parent", then populate a "prev" by adding the
                        next element of d_split to prev_directory and setting everything else to effectively the default
                        values
                    One annoying thing: we need a single consistent way to think about depth
                    Is it the entire file path or is it just the directory part? For this we really only care about the
                    directory depth since that's all we'd need to remake, but in other contexts the entire depth matters too
                {%- endcomment -%}

                {%- assign bound_high = depth|minus:1 -%}
                {%- assign bound_low = prev_depth -%}
                {%-comment-%}<pre> PreDive | from: {{ bound_low }} to: {{ bound_high }}
                        stack_size: {{node_stack[1]}}
                        {{url}}
                        {{prev_url}}
                        {{parent_url}}
                </pre>{%-endcomment-%}

                {%- if prev_url contains "." -%}
                    {%- assign step_path = prev_directory -%}
                {%- else -%}
                    {%- assign step_path = prev_url -%}
                {%- endif -%}

                {%- for i in (bound_low..bound_high) -%}
                    {%- comment -%}
                        There is a subtlety here in that we need to check if the previous node should be treated as a _parent_ or as a _sibling_
                        We do this by looking for a "." even though this won't always be robust since it'll work for now
                    {%- endcomment -%}
                    {%- unless prev_url contains "." or parent_url == prev_url -%}
                        {%- assign parent_node = ""|split:"" -%}
                        {%- assign parent_node = parent_node|push:parent_depth -%}
                        {%- assign parent_node = parent_node|push:parent_page -%}
                        {%- assign parent_node = parent_node|push:parent_name -%}
                        {%- assign parent_node = parent_node|push:parent_directory -%}
                        {%- assign parent_node = parent_node|push:parent_url -%}
                        {%- assign parent_node = parent_node|push:parent_children -%}
                        {%-comment-%}<pre> PushingParent |
                                depth: {{parent_depth}}
                                url: {{parent_url}}
                                children: {{parent_children | size}}
                        </pre>{%-endcomment-%}

                        {%- assign new_stack = ""|split:"" -%}
                        {%- assign new_stack = new_stack|push:parent_node -%}
                        {%- assign node_stack_size = node_stack | size -%}
                        {%- if node_stack_size > 0 -%}
                            {%- assign new_stack_size = node_stack[1] -%}
                            {%- assign new_stack_size = new_stack_size|plus:1 -%}
                            {%- assign new_stack = new_stack|push: new_stack_size -%}
                        {%- else -%}
                            {%- assign new_stack = new_stack|push: 1 -%}
                        {%- endif -%}
                        {%- assign new_stack = new_stack|push:node_stack -%}
                        {%- assign node_stack = new_stack -%}

                        {%- assign parent_depth = prev_depth -%}
                        {%- assign parent_page = prev_page -%}
                        {%- assign parent_name = prev_name -%}
                        {%- assign parent_directory = prev_directory -%}
                        {%- assign parent_url = prev_url -%}
                        {%- assign parent_children = prev_children -%}
                    {%- endunless -%}

                    {%- assign step_path = step_path | append:"/" | append:d_split[i] -%}
                    {%- assign leading_char = step_path|slice:0 -%}
                    {%- if leading_char == "/" -%}
                        {%- assign end_bound = step_path|size -%}
                        {%- assign step_path = step_path | slice:1,end_bound -%}
                    {%- endif -%}
                    {%- assign leading_char = step_path|slice:-1 -%}
                    {%- if trailing_char == "/" -%}
                        {%- assign end_bound = step_path|size|minus:1 -%}
                        {%- assign step_path = step_path | slice:0,end_bound -%}
                    {%- endif -%}
                    {%- assign prev_d_split = step_path | split:"/" -%}
                    {%- assign prev_depth = prev_d_split | size -%}
                    {%- assign prev_page = nil -%}
                    {%- assign prev_name = prev_d_split | last | split:"." | first -%}
                    {%- assign prev_directory = "" -%}
                    {%- assign prev_d_lim = prev_d_split.size|minus:1 -%}
                    {%- for d in prev_d_split limit:prev_d_lim -%}
                        {%- if d.size > 0 -%}
                            {%- assign prev_directory = prev_directory | append:"/" | append:d -%}
                        {%- endif -%}
                    {%- endfor -%}
                    {%- assign prev_url = step_path|prepend:"/" -%}
                    {%- assign prev_children = ""|split:"" -%}

                {%- endfor -%}

                {%-comment-%}<pre> PostDive |
                        stack_size: {{node_stack[1]}}
                        {{url}}
                        {{prev_url}}
                        {{parent_url}}
                </pre>{%-endcomment-%}

                {%- assign parent_node = ""|split:"" -%}
                {%- assign parent_node = parent_node|push:parent_depth -%}
                {%- assign parent_node = parent_node|push:parent_page -%}
                {%- assign parent_node = parent_node|push:parent_name -%}
                {%- assign parent_node = parent_node|push:parent_directory -%}
                {%- assign parent_node = parent_node|push:parent_url -%}
                {%- assign parent_node = parent_node|push:parent_children -%}
                {%-comment-%}<pre> PushingParent |
                        depth: {{parent_depth}}
                        url: {{parent_url}}
                        children: {{parent_children | size}}
                </pre>{%-endcomment-%}
                {%- assign new_stack = ""|split:"" -%}
                {%- assign new_stack = new_stack|push:parent_node -%}
                {%- assign node_stack_size = node_stack | size -%}
                {%- if node_stack_size > 0 -%}
                    {%- assign new_stack_size = node_stack[1] -%}
                    {%- assign new_stack_size = new_stack_size|plus:1 -%}
                    {%- assign new_stack = new_stack|push: new_stack_size -%}
                {%- else -%}
                    {%- assign new_stack = new_stack|push: 1 -%}
                {%- endif -%}
                {%- assign new_stack = new_stack|push:node_stack -%}
                {%- assign node_stack = new_stack -%}

                {%- assign parent_depth = prev_depth -%}
                {%- assign parent_page = prev_page -%}
                {%- assign parent_name = prev_name -%}
                {%- assign parent_directory = prev_directory -%}
                {%- assign parent_url = prev_url -%}
                {%- assign parent_children = prev_children -%}

            {%- endif -%}

            {%-comment-%}<pre> EndLoop |
                    stack_size: {{node_stack[1]}}
                    {{url}}
                    {{prev_url}}
                    {{parent_url}}
            </pre>{%-endcomment-%}

        {%- endunless -%}

        {%- comment -%}
            After every single step we also make it so that the current data is the prev_* data so that the loop may continue
        {%- endcomment -%}

        {%- assign prev_depth = depth -%}
        {%- assign prev_page = page -%}
        {%- assign prev_name = name -%}
        {%- assign prev_directory = directory -%}
        {%- assign prev_url = url -%}
        {%- assign prev_children = children -%}

    {%- endif -%}

{%- endfor -%}

{%- comment -%}
    At this point we need to push the prev_data onto its parent and also have to do some cleanup work if the node stack isn't closed
    What this will look like, in general, is taking the current data (prev)
{%- endcomment -%}

{%-comment-%}<pre> Close Nodes |
        stack_size: {{node_stack[1]}}
        {{url}}
        {{prev_url}}
        {{parent_url}}
</pre>{%-endcomment-%}

{%- if node_stack | size > 0 -%}
    {%- assign remaining_nodes = node_stack[1] -%}
    {%- for i in (1..remaining_nodes) -%}
        {%- comment -%}
            To close a node, we stick the current node into the parent_children
            Then we pop a node off the node_stack, set all of the parent_* values to the node values and
            then assign all of the prev_* names to the parent_* names
        {%- endcomment -%}

        {%- if prev_url != parent_url -%}
            {%- if prev_name == "index" -%}
                {%- assign parent_page = prev_page -%}
                {%- assign parent_url = prev_url -%}
            {%- elsif prev_name == parent_name -%}
                {%- assign parent_page = prev_page -%}
            {%- else -%}
                {%- assign node = ""|split:"" -%}
                {%- assign node = node|push:prev_depth -%}
                {%- assign node = node|push:prev_page -%}
                {%- assign node = node|push:prev_name -%}
                {%- assign node = node|push:prev_directory -%}
                {%- assign node = node|push:prev_url -%}
                {%- assign node = node|push:prev_children -%}
                {%- assign parent_children = parent_children|push:node -%}
                {%-comment-%}<pre> PushedChild | parent: {{parent_url}} children: {{parent_children | size }}
                        depth: {{prev_depth}}
                        url: {{prev_url}}
                </pre>{%-endcomment-%}
            {%- endif -%}
        {%- endif -%}

        {%- assign prev_depth = parent_depth -%}
        {%- assign prev_page = parent_page -%}
        {%- assign prev_name = parent_name -%}
        {%- assign prev_directory = parent_directory -%}
        {%- assign prev_url = parent_url -%}
        {%- assign prev_children = parent_children -%}

        {%- assign node = node_stack[0] -%}
        {%- assign node_stack = node_stack[2] -%}
        {%- assign parent_depth = node[0] -%}
        {%- assign parent_page = node[1] -%}
        {%- assign parent_name = node[2] -%}
        {%- assign parent_directory = node[3] -%}
        {%- assign parent_url = node[4] -%}
        {%- assign parent_children = node[5] -%}

    {%- endfor -%}

    {%-comment-%}<pre> PostPop |
            stack_size: {{node_stack[1]}}
            {{url}}
            {{prev_url}}
            {{parent_url}}
    </pre>{%-endcomment-%}

{%- endif -%}

{%- if prev_url != parent_url -%}
    {%- if prev_name == "index" -%}
        {%- assign parent_page = prev_page -%}
        {%- assign parent_url = prev_url -%}
    {%- elsif prev_name == parent_name -%}
        {%- assign parent_page = prev_page -%}
    {%- else -%}
        {%- assign node = ""|split:"" -%}
        {%- assign node = node|push:prev_depth -%}
        {%- assign node = node|push:prev_page -%}
        {%- assign node = node|push:prev_name -%}
        {%- assign node = node|push:prev_directory -%}
        {%- assign node = node|push:prev_url -%}
        {%- assign node = node|push:prev_children -%}
        {%- assign parent_children = parent_children|push:node -%}
        {%-comment-%}<pre> PushedChild | parent: {{parent_url}} children: {{parent_children | size }}
                depth: {{prev_depth}}
                url: {{prev_url}}
        </pre>{%-endcomment-%}
    {%- endif -%}
{%- endif -%}

{%- assign _main_node = ""|split:"" -%}
{%- assign _main_node = _main_node|push:parent_depth -%}
{%- assign _main_node = _main_node|push:parent_page -%}
{%- assign _main_node = _main_node|push:parent_name -%}
{%- assign _main_node = _main_node|push:parent_directory -%}
{%- assign _main_node = _main_node|push:parent_url -%}
{%- assign _main_node = _main_node|push:parent_children -%}

{%- assign site_path_tree = ""|split:"" -%}
{%- assign site_path_tree = site_path_tree|push:_main_node -%}

{%- assign _debug_tree = site_path_tree -%}
{%- assign _node_stack = node_stack -%}